Repository HYF-Class19/agile-development-loruki-group-4, pull requests merged in 2022-08, with the labels that each got.

#3 Files
  .cspell.json
  .vscode/settings.json
  index.html
  package.json
  pages/docs.html
  pages/features.html
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
  planning/user-personas.md
  public/design-docs.png
  public/design.features.png
  public/design.home.excalidraw.png
  public/images/cli.png
  public/images/cloud.png
  public/images/docs.png
  public/images/favicon.png
  public/images/logos/clojure.png
  public/images/logos/csharp.png
  public/images/logos/go.png
  public/images/logos/node.png
  public/images/logos/php.png
  public/images/logos/python.png
  public/images/logos/ruby.png
  public/images/logos/scala.png
  public/images/npm.png
  public/images/server.png
  public/images/server2.png
  styles/index.css
  styles/something.css
  styles/utilities.css
Labels: files, css, html

#5 adding utility styles
  styles/utilities.css
Labels: css, utilities

#16 added navbar to index.html page
  index.html
  styles/index.css
Labels: css, html

#17 added footer to index.html page
  index.html
  styles/index.css
Labels: css, html, footer

#21 Showcase and Stats Sections: HTML and CSS
  index.html
  styles/index.css
  styles/utilities.css
Labels: css, html

#20 Added features page html/css
  .cspell.json
  pages/features.html
  styles/index.css
Labels: css, html, features

#22 Languages
  images/logos/clojure.png
  images/logos/csharp.png
  images/logos/node.png
  images/logos/php.png
  images/logos/python.png
  images/logos/ruby.png
  images/logos/scala.png
  index.html
  styles/index.css
Labels: css, html

#25 CLI and Cloud: html and CSS
  index.html
  styles/index.css
Labels: css, html

#27 updated backlog.md, index.css, constraints.md
  planning/backlog.md
  planning/constraints.md
  styles/index.css
Labels: planning, css

#32 updated user-personas
  planning/user-personas.md
Labels: enhancement, md

#31 Mobile responsive
  pages/features.html
  styles/index.css
Labels: enhancement

#30 favicon link edited
  index.html
Labels: enhancement

#28 Doc
  pages/docs.html
  pages/features.html
  styles/index.css
Labels: docs

#33 Planning
  .cspell.json
  README.md
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
  public/Loruki-home-page.png
Labels: planning, md

#34 Update Readme.md
  README.md
Labels: planning, md
